*{
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgb(88, 171, 199);
}

.mygrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 200px 50px 1fr 50px;
    grid-template-columns: 21% 58% 21%;
    
}

header {
    grid-column: 2/3;
    grid-row: 1/2;
    
    background-color: White;
}

nav {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
    border: 5px solid black;
    text-align: Center;
    
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    border-left: 2px rgb(88, 171, 199);
}

nav a {
    color: rgb(78, 78, 78);
    font-family: 'PT Sans', sans-serif;
    font-size: 15pt;

    text-decoration: none; 
}

#homePage {
    grid-column: 1/2;
}

#pageOne {
    grid-column: 2/3;
}

#pageTwo {
    grid-column: 3/4;
}

#sources {
    grid-column: 4/5;
    border-right: 2px rgb(88, 171, 199);
}

.center{
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: rgb(78,78,78);
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 32pt;
    color:white;
    background-color: rgb(78,78,78);
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 15pt;
    line-height: 1.7;
    margin: 20px;
    padding: 8px;
    background-color: white;
    border: 5px solid black;
}

footer{
    font-family: 'PT Sans', sans-serif;
    font-size: 15pt;
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: gray;
}
