*{
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1000px
}

.mygrid {
    display: grid;
    width: 80%;
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-columns: 21% 58% 21%;
    background-color: rgb(88, 171, 199);
}

header {
    grid-column: 2/3;
    grid-row: 1/2;
    
    background-color: White;
}

nav {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-content: right;
    background-color: white;
    border: 5px solid black;
    text-align: Center;
    font-size: 20px;
    -webkit-text-fill-color: rgb(78, 78, 78);
}

li {
    display: inline-block;
    margin: -12px;
}

.left {
    grid-row: 0/4;
    grid-column: 1/2;
}

.right {
    grid-row: 0/4;
    grid-column: 3/4;
    
}

.center{
    grid-row: 3/4;
    grid-column: 2/3;
    background-color: rgb(78,78,78);
}
p {
    background-color: white;
    border: 5px solid black;
}

footer{
    grid-row: 4/5;
    grid-column: 2/3;
    background-color: gray;
}
